PORT=3000
MONGO_URI=mongodb+srv://udemy:udemy1234@cluster0.2uvsojy.mongodb.net/
DB_NAME=lmspaymentgateway
NODE_ENV=development
# node_env shows you what MODE are working, development or production or testing as diff databases / tables might be used
CLIENT_URL=*
SECRET_KEY=*
# must specify a client url for CORS to work?

CLOUDINARY_API_KEY=*
CLOUDINARY_API_SECRET=*
CLOUD_NAME=*

# razorpay keys
